body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;


  select {
    margin: 10px 0;
    max-width: 300px;
    background-color: #d0d0d0;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .card {
      max-width: 280px;
      margin-bottom: 20px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .cat-page {
    .card-title {
      margin-top: 10px;
    }

    .cat-description {
      strong {
        display: block;
        line-height: 2;
      }
    }
  }
}
